* {
    box-sizing: border-box;
    margin: 0; 
    scroll-behavior: smooth;
}

body {
    background: hsl(0, 0%, 98%);
    font-family: 'Calibri';
    font-size: 1.2em;
}

section {
    padding: 1.5rem;
}

h2, h3 {
    margin: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

figure {
    background: #f9f9f9;
    margin: 0.5rem;
    padding: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    /* width: clamp(200px, 300px, 400px); */
}

img {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

figcaption {
    display: flex;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    justify-content: space-evenly;
}

.nav-dropdown {

}
.fig-btn {
    width: 33.33%;
    margin: 0;
    padding: 5px;
    background: hsl(225, 33%, 60%);
    color: white;
    border: 1px solid rgb(240, 240, 240);
    font-size: 85%;
}

.more-btn {
    border-radius: 0 0 0 12px;
}

.code-btn {
    border-radius: 0 0 12px 0;
}

.section-ul {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 300px;
    color: white;
    background: #333333;
    box-shadow: inset 3px 3px 20px 10px rgb(37, 37, 37);
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-span {
    margin: 1.2rem;
}

#sections-nav-ul {
    visibility: hidden;
}

#first {
    background: hsl(185, 33%, 81%);
}

#second {
    background: #5D989E;
}

#third {
    background: #959D94;
}

#fourth {
    background: #EBE4C3;
}

#fifth {
    background: #A19354;
}