* {
    box-sizing: border-box;
    margin: 0; 
    /* padding: 0; */
}
body {
    background: hsl(0, 0%, 98%);
    font-family: 'Calibri';
    font-size: 1.2em;
}

section {
    padding: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

figure {
    background: #f9f9f9;
    margin: 0.5rem;
    padding: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    /* width: clamp(200px, 300px, 400px); */
}

img {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

figcaption {
    display: flex;
    justify-content: space-between;
}
.fig-btn {
    width: 33%;
    margin: 0;
    padding: 5px;
    background: hsl(225, 33%, 60%);
    color: white;
    border: 1px solid rgb(240, 240, 240);
    /* border-radius: 0 0 0 12px; */
    font-size: 85%;
}

.more-btn {
    border-radius: 0 0 0 12px;
}
.live-btn {
}
.code-btn {
    border-radius: 0 0 12px 0;
}
.section-ul {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;

}

footer {
    color: white;
    background: #222222;
}
#first {
    background: hsl(185, 33%, 81%);
}

#second {
    background: #5D989E;
}
#third {
    background: #959D94;
}
#fourth {
    background: #EBE4C3;
}
#fifth {
    background: #A19354;
}